ion-content{

    ion-toolbar{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        ion-icon{
            font-size: x-large;
        }
    }

    vedio{
        height: 100%;
        width: 100%;
    }

    .container {
        text-align: center;
      
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        img{
            height: 200px;
            width: 200px;
        }

        h5{
            text-transform: uppercase;;
            color: #fff;
        }
    }    
}