<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar mode="ios" color="white">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button color="orange" text=""></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title color="orange" mode="md">About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" [scrollEvents]="true" >
  <div>
    <p>It all started when Jijulal (JC) visited several cafes during the pandemic, where he was astonished to see low footfall during the day at key cafes &amp; hotel across UAE. JC understood that the greying office cubicle isn’t ideal grounds for a productive, engaged or happy working. <br><br> <strong>WorkinBuddy emerged from a basic idea and key principle to bridge the gap between restaurants &amp; members.</strong></p>
    <p>								WorkinBuddy not only provides the increased footfall in its locations, but also provides cost effective solutions to start ups, business owners, students & those workin from home during the pandemic. JC believes that coworking spaces are the future of workin where members can work productively, collaboratively and, most importantly, work happier.						</p>
  </div>
</ion-content>
