<ion-content fullscreen="true">

  <div id="recaptcha-container" style="display: none;"></div>

  <div id="TopMainBG"
    style="background: url(assets/img/topShape.png); background-repeat: no-repeat; background-position-y: -7.5rem;height: 830px;">
    <div id="TopMainImg"
      style="background: url(assets/svg/whiteLogo.svg); background-repeat: no-repeat;background-position: left top;height: 830px;">
      <div style="padding-top: 9rem;position: relative;">
        <ion-grid class="MainContain">
          <ion-row>
            <ion-col>
              <div>
                <h1 style="margin: unset;">Sign up</h1>
              </div>
              <div class="inputs">
                <div class="inputGroup" style="margin-bottom: 7px;">
                  <label>Name</label>
                  <input type="text" [(ngModel)]="userName" placeholder="Enter Name">
                </div>
                <div class="inputGroup" style="margin-bottom: 7px;">
                  <label>Email</label>
                  <input type="email" [(ngModel)]="userEmail" placeholder="Enter Email">
                </div>
              </div>
              <div style="margin-bottom: 8px;">
                <label>Mobile No.</label>
                <ion-row>
                  <ion-col size="3">
                    <input type="text" [(ngModel)]="contryCode" placeholder="Enter Contry Code">
                  </ion-col>
                  <ion-col size="9">
                    <input type="number" [(ngModel)]="number" placeholder="Enter Mobile No.">
                  </ion-col>
                </ion-row>
              </div>
              <div class="animate__animated animate__fadeInUp animate__faster" *ngIf="sendOtp"
                style="margin-bottom: 8px;">
                <div>
                  <label>Enter OTP</label>
                </div>
                <div class="ion-text-center" style="margin-top: 8px;">
                  <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
                </div>
              </div>
              <div class="ionButton">
                <ion-button mode="ios" expand="block" *ngIf="!sendOtp" (click)="send_otp()">
                  <ng-container *ngIf="!loadingSendOTP">
                    Send OTP
                  </ng-container>
                  <ion-spinner *ngIf="loadingSendOTP"></ion-spinner>
                </ion-button>
                <ion-button mode="ios" expand="block" *ngIf="sendOtp" (click)="verify_otp()">
                  <ng-container *ngIf="!loadingVirifyOTP">
                    Verify OTP
                  </ng-container>
                  

                  <ion-spinner *ngIf="loadingVirifyOTP"></ion-spinner>
                </ion-button>
              </div>
              <p class="ion-text-center"> Already Account ? <ion-text (click)="signin()" color="orange"><b>Sign In</b></ion-text>
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
