
<ion-content>

  <div class="container">
    <!-- <img src="assets/img/logo1.gif" alt=""> -->
    <ion-item color="transparent" lines="none">
      <img slot="start" src="assets/img/mainLogo.png" class="animate__animated animate__zoomIn" alt="">
      <ion-label>
        <img src="assets/svg/WORKINBUDDY.svg" class="animate__animated animate__fadeInLeft animate__delay-1s" alt="">
      </ion-label>
    </ion-item>
  </div>
  <div class="text">A coworking space for your business</div>

</ion-content>


<ion-footer class="ion-no-border">
  <ion-item lines="none">
    <button class="getPackage" [routerLink]="['/auth/welcome']">Get Started</button>
  </ion-item>
</ion-footer>